In [17]:
import pandas as pd 
import numpy as np

In [18]:
fruit = pd.Series(np.random.choice(['apple','banana','carrot'],10))
weights = pd.Series(np.linspace(1,10,10))
print(weights.tolist())
print(fruit.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'apple', 'apple', 'banana', 'apple', 'apple', 'carrot', 'banana', 'carrot', 'carrot']

In [19]:
df = pd.DataFrame({'fruit': fruit, 'weights': weights})
df

    fruit  weights
0  carrot      1.0
1   apple      2.0
2   apple      3.0
3  banana      4.0
4   apple      5.0
5   apple      6.0
6  carrot      7.0
7  banana      8.0
8  carrot      9.0
9  carrot     10.0

In [20]:
df.groupby('fruit')['weights'].mean()

fruit
apple     4.00
banana    6.00
carrot    6.75
Name: weights, dtype: float64