In [2]:
import numpy as np
import pandas as pd

In [3]:
ser=pd.Series(np.random.randint(1,10,35))
ser

0     1
1     8
2     6
3     1
4     6
5     4
6     8
7     3
8     3
9     9
10    2
11    8
12    2
13    2
14    4
15    3
16    1
17    5
18    2
19    6
20    8
21    4
22    2
23    4
24    6
25    5
26    8
27    9
28    4
29    9
30    3
31    4
32    9
33    2
34    6
dtype: int32

GIẢI THÍCH:tạo 1 mảng ngẫu nhiên trong đó gồm 35 số nguyên ngẫu nhiên năm trong khoàng[1,10) sau đó chuyển thành pd.Series

In [4]:
df = pd.DataFrame(ser.values.reshape(7, 5))
df

   0  1  2  3  4
0  1  8  6  1  6
1  4  8  3  3  9
2  2  8  2  2  4
3  3  1  5  2  6
4  8  4  2  4  6
5  5  8  9  4  9
6  3  4  9  2  6