In [9]:
import pandas as pd 
import numpy as np

## 1

In [10]:
drink = pd.read_csv('D:\\BÀI TẬP\\BÀI TẬP CHƯƠNG 4\\bài 4.21\\drinks.csv')
drink

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0,0,0,0.0,AS
1,1,Albania,89,132,54,4.9,EU
2,2,Algeria,25,0,14,0.7,AF
3,3,Andorra,245,138,312,12.4,EU
4,4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...,...
188,188,Venezuela,333,100,3,7.7,SA
189,189,Vietnam,111,2,1,2.0,AS
190,190,Yemen,6,0,0,0.1,AS
191,191,Zambia,32,19,4,2.5,AF
192,192,Zimbabwe,64,18,4,4.7,AF

In [11]:
drink.dtypes

Unnamed: 0                        int64
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [12]:
drink.shape

(193, 7)

In [13]:
list(drink.columns)

['Unnamed: 0',
 'country',
 'beer_servings',
 'spirit_servings',
 'wine_servings',
 'total_litres_of_pure_alcohol',
 'continent']

In [14]:
drink.head()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0,0,0,0.0,AS
1,1,Albania,89,132,54,4.9,EU
2,2,Algeria,25,0,14,0.7,AF
3,3,Andorra,245,138,312,12.4,EU
4,4,Angola,217,57,45,5.9,AF

In [15]:
drink.tail()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,188,Venezuela,333,100,3,7.7,SA
189,189,Vietnam,111,2,1,2.0,AS
190,190,Yemen,6,0,0,0.1,AS
191,191,Zambia,32,19,4,2.5,AF
192,192,Zimbabwe,64,18,4,4.7,AF

## 2

In [16]:
drink['continent'].unique()

array(['AS', 'EU', 'AF', nan, 'SA', 'OC'], dtype=object)

## Tách các châu lục

In [17]:
AS = drink[drink['continent'] == 'AS']
EU = drink[drink['continent'] == 'EU']
AF = drink[drink['continent'] == 'AF']
SA = drink[drink['continent'] == 'SA']
OC = drink[drink['continent'] == 'OC']

In [18]:
#AS
print("AS :", AS['beer_servings'].mean())
print("EU :", EU['beer_servings'].mean())
print("AF :", AF['beer_servings'].mean())
print("SA :", SA['beer_servings'].mean())
print("OC :", OC['beer_servings'].mean())

AS : 37.04545454545455
EU : 193.77777777777777
AF : 61.471698113207545
SA : 175.08333333333334
OC : 89.6875

## 3

In [19]:
#AS
AS['wine_servings'].describe()

count     44.000000
mean       9.068182
std       21.667034
min        0.000000
25%        0.000000
50%        1.000000
75%        8.000000
max      123.000000
Name: wine_servings, dtype: float64

In [20]:
#EU
EU['wine_servings'].describe()

count     45.000000
mean     142.222222
std       97.421738
min        0.000000
25%       59.000000
50%      128.000000
75%      195.000000
max      370.000000
Name: wine_servings, dtype: float64

In [21]:
#AF
AF['wine_servings'].describe()

count     53.000000
mean      16.264151
std       38.846419
min        0.000000
25%        1.000000
50%        2.000000
75%       13.000000
max      233.000000
Name: wine_servings, dtype: float64

In [22]:
SA['wine_servings'].describe()

count     12.000000
mean      62.416667
std       88.620189
min        1.000000
25%        3.000000
50%       12.000000
75%       98.500000
max      221.000000
Name: wine_servings, dtype: float64

In [23]:
OC['wine_servings'].describe()

count     16.00000
mean      35.62500
std       64.55579
min        0.00000
25%        1.00000
50%        8.50000
75%       23.25000
max      212.00000
Name: wine_servings, dtype: float64

# 4

In [24]:
#AS
AS[['beer_servings','wine_servings']].mean()

beer_servings    37.045455
wine_servings     9.068182
dtype: float64

In [25]:
#AF
AF[['beer_servings','wine_servings']].mean()

beer_servings    61.471698
wine_servings    16.264151
dtype: float64

In [26]:
#OC
OC[['beer_servings','wine_servings']].mean()

beer_servings    89.6875
wine_servings    35.6250
dtype: float64

In [27]:
#SA
SA[['beer_servings','wine_servings']].mean()

beer_servings    175.083333
wine_servings     62.416667
dtype: float64

In [28]:
#EU
EU[['beer_servings','wine_servings']].mean()

beer_servings    193.777778
wine_servings    142.222222
dtype: float64

# 5

In [29]:
#AS
AS[['beer_servings','wine_servings']].median()

beer_servings    17.5
wine_servings     1.0
dtype: float64

In [30]:
#AF
AF[['beer_servings','wine_servings']].median()

beer_servings    32.0
wine_servings     2.0
dtype: float64

In [31]:
#OC
OC[['beer_servings','wine_servings']].median()

beer_servings    52.5
wine_servings     8.5
dtype: float64

In [32]:
#SA
SA[['beer_servings','wine_servings']].median()

beer_servings    162.5
wine_servings     12.0
dtype: float64

In [33]:
#EU
EU[['beer_servings','wine_servings']].median()

beer_servings    219.0
wine_servings    128.0
dtype: float64

# 6

In [34]:
# AF
print(f"mean: {AF['spirit_servings'].mean()}, max: {AF['spirit_servings'].max()}, min: {AF['spirit_servings'].min()}")

mean: 16.339622641509433, max: 152, min: 0

In [35]:
# AS
print(f"mean: {AS['spirit_servings'].mean()}, max: {AS['spirit_servings'].max()}, min: {AS['spirit_servings'].min()}")

mean: 60.84090909090909, max: 326, min: 0

In [36]:
# EU
print(f"mean: {EU['spirit_servings'].mean()}, max: {EU['spirit_servings'].max()}, min: {EU['spirit_servings'].min()}")

mean: 132.55555555555554, max: 373, min: 0

In [37]:
# OC
print(f"mean: {OC['spirit_servings'].mean()}, max: {OC['spirit_servings'].max()}, min: {OC['spirit_servings'].min()}")

mean: 58.4375, max: 254, min: 0

In [38]:
# SA
print(f"mean: {SA['spirit_servings'].mean()}, max: {SA['spirit_servings'].max()}, min: {SA['spirit_servings'].min()}")

mean: 114.75, max: 302, min: 25

# 7

In [39]:
drinks = drink.sort_values(by= 'beer_servings')
# 5 quốc gia có lượng bia tiêu thụ ít nhất
drinks.head()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,Afghanistan,0,0,0,0.0,AS
13,13,Bangladesh,0,0,0,0.0,AS
40,40,Cook Islands,0,254,74,5.9,OC
46,46,North Korea,0,0,0,0.0,AS
111,111,Monaco,0,0,0,0.0,EU

In [40]:
# 5 quốc gia có lượng bia tiêu thụ nhiều nhất
drinks.tail()

,Unnamed: 0,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
98,98,Lithuania,343,244,56,12.9,EU
65,65,Germany,346,117,175,11.3,EU
62,62,Gabon,347,98,59,8.9,AF
45,45,Czech Republic,361,170,134,11.8,EU
117,117,Namibia,376,3,1,6.8,AF